registry=https://pkgs.dev.azure.com/bm-lab-demo/bm-demo-webapp/_packaging/webapp-demo/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/bm-lab-demo/bm-demo-webapp/_packaging/webapp-demo/npm/registry/:username=bm-lab-demo
//pkgs.dev.azure.com/bm-lab-demo/bm-demo-webapp/_packaging/webapp-demo/npm/registry/:_password=YWVvZGQ1dnk1eWlyb2o3ZG1yM3p4d2M2Z2txY2U3NzZiamxrajNydzRhdGxjMnVoM2p1cQ==
//pkgs.dev.azure.com/bm-lab-demo/bm-demo-webapp/_packaging/webapp-demo/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/bm-lab-demo/bm-demo-webapp/_packaging/webapp-demo/npm/:username=bm-lab-demo
//pkgs.dev.azure.com/bm-lab-demo/bm-demo-webapp/_packaging/webapp-demo/npm/:_password=YWVvZGQ1dnk1eWlyb2o3ZG1yM3p4d2M2Z2txY2U3NzZiamxrajNydzRhdGxjMnVoM2p1cQ==
//pkgs.dev.azure.com/bm-lab-demo/bm-demo-webapp/_packaging/webapp-demo/npm/:email=npm requires email to be set but doesn't use the value
; end auth token